.boxes {
  width: 600px;
  background-color: yellow;
  margin: 0 auto;
}

.box1 {
  width: 300px;
  height: 200px;
  background-color: orange;
  margin: 0 auto;
}

.box2 {
  width: 300px;
  height: 200px;
  background-color: red;
  margin: 0 auto;
}