/* ブラウザがそれぞれ持っているCSSをリセットするための記述 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #6c6b6b;
}

a {
  text-decoration: none;
}

header, nav, h2, .main-visual, footer {
  font-family: "Bradley Hand", Courier, "Segoe Print", sans-serif;
}

header {
  position: relative;
  width: 100%;
  padding: 15px 0;
  margin: 0 auto;
  text-align: center;
  background-color: #343a40;
}

header .heading {
  font-size: 32px;
}

header .heading a {
  color: #fff;
}

.social {
  position: absolute;
  top: 22px;
  right: 22px;
}

.social i {
  display: inline-block;
  margin-left: 20px;
  color: #fff;
}

.nav-list {
  text-align: center;
  padding: 10px 0;
  margin: 0 auto;
}

.nav-list-item {
  list-style: none;
  display: inline-block;
  margin: 0 20px;
  color: #fff;
}

.main-visual {
  width: 100%;
  height: 300px;
  background-image: url(img/main-image.jpg);
  background-size: cover;
  background-position: center;
}

.main-visual-content {
  width: 40%;
  height: 300px;
  background-color: rgba( 0, 0, 0, 0.5);
  text-align: center;
  padding-top: 105px;
}

.main-visual-text {
  color: #fff;
}

.main-visual-name {
  margin-top: 30px;
  color: #fff;
}

main {
  width: 90%;
  margin: 0 auto;
  padding: 70px 0;
}

.news-heading {
  border-bottom: 8px solid #e7e7e7;
  text-align: center;
  line-height: 0.6;
  color: black;
  width: 20%;
  margin: 0 auto;
}

.news-box {
  padding: 50px 0 10px 0;
  width: 100%;
  display: flex;
}

.news-title {
  text-align: center;
  color: black;
}

.news-sub-title {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

.news-message {
  padding: 5px;
}

.news-image {
  height: 250px;
}

.menu-heading {
  border-bottom: 8px solid #e7e7e7;
  text-align: center;
  line-height: 0.6;
  color: black;
  width: 20%;
  margin: 0 auto;
  padding-top: 30px;
}

.menu-box {
  padding: 50px 0 50px 0;
  display: flex;
  flex-wrap: wrap;
}

.new {
  display: inline-block;
  padding: 5px 8px;
  background-color: #acabab;
  border-radius: 3px;
  color: #fff;
  font-size: 11px;
}

.menu-image {
  height: 180px;
  width: 250px;
}

.menu-item {
  display: flex;
  justify-content: flex-start;
  padding-bottom: 20px;
  margin-bottom: 20px;
  width: 50%;
}

.menu-text {
  padding-left: 30px;
}

.menu-text-heading {
  padding-bottom: 15px;
}

.menu-introduction {
  font-size: 12px;
}

.access-heading {
  border-bottom: 8px solid #e7e7e7;
  text-align: center;
  line-height: .6;
  color: black;
  width: 20%;
  margin: 0 auto;
}

.access-box {
  padding: 50px 0 10px 0;
  width: 100%;
  display: flex;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.access-label {
  font-weight: bold;
}

.access-reservation {
  border: 1px solid #c4c4c4;
  margin: 0 auto;
  width: 400px;
}

.reservation-title {
  text-align: center;
  font-weight: bold;
}

.tel {
  text-align: center;
  font-weight: bold;
  color: black;
}

footer {
  width: 100%;
  height: 120px;
  text-align: center;
  line-height: 120px;
  background-color: #343a40;
}

.footer-text {
  color: #fff;
}